section {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding-top: 5em;
    padding-bottom: 5em;
    gap: 6em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #9F0908;
    text-align: center;

}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}