h1 {
    color: white;
    font-size: 96px;
}

h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}