@import './../../styles.scss';
// @mixin setFlex($display: flex, $direction: column, $aI: center, $jC: center){
//     display: $display;
//     flex-direction: $direction;
//     align-items: $aI;
//     justify-content: $jC;
// }

section{
    @include setFlex(flex,row,center,space-around);
    background-color: #0A141E;
    // display: flex;
    // justify-content: space-around;
    // flex-direction: row;
    // align-items: center;
    width: 100%;
    gap: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logos{
    display: flex;
    width: 8%;
    justify-content: space-between;

}