nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    justify-content: space-between;
    // gap: 50em;
    margin-top: 5em;
}
.logo{
    background-image: url("./../../../../assets/IMG/2.\ Sakura\ Logo.svg");
    width: 4em;
    height: 4em;
    background-repeat: no-repeat;
    background-size: cover;
}
.links{
    display: flex;
    flex-direction: row;
    font-family: 'Raleway';
    align-items: center;
    gap: 1em;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: white;
}
@media (max-width: 1000px) {
    .links{
        font-size: 1em;
    }
    
}