.variation {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #675E54;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10em;
    text-transform: uppercase;
}

h3 {
    font-family: 'Economica', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center; 
}
.dish{
    display: flex;
    flex-direction: row;
    gap: 8em;
    padding-top: 4em;
}
img{
    $imageSize: 10em;
    width: $imageSize;
    object-fit: cover;
    height: $imageSize;
}