.variation {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #675E54;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10em;
    text-transform: uppercase;
}

h3 {
    font-family: 'Economica', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    text-transform:uppercase;
    text-decoration: dashed;
}
.dish{
    display: flex;
    flex-direction: row-reverse;
    gap: 8em;
    align-items: center;
}
img{
    $imageSize: 20em;
    width: $imageSize;
    object-fit: cover;
    height: $imageSize;
}
.textPart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}